/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&display=swap');
:root {
    --white: #fff;
    --purple: #3d00d6e8;
    --black: #00000018;
}
* {
    margin: 0;
    padding: 0;
}
body {
    color: var(--white);
    font-family: 'Manrope'!important;
    font-weight: bold!important;
}
/* Boostrapt Style */
.btn-primary {
        background-color: #4801ff!important;
        border: none!important;
}
.btn-primary:hover {
    background-color: rgb(0, 2, 117)!important;
    border: none!important;
}
.bg-secondary {
    background-color: rgb(177, 177, 177)!important;
}

tbody, td, tfoot, th, thead, tr {
    border-color: var(--black) !important;
}
/* Personal Styles */
#banner {
    background-image: linear-gradient(-225deg, #ac32e4f1 0%, #7a18f2f1 48%, #4e08ffe9 100%);    
    height: 410px;

}

#calcule {
    height: 100px;
    background-color: var(--black)!important;
}

#container {
height: 500px!important;
}
#grafic {
    margin-block-start: 120px;
    color:#4801ff;
    font-weight: bold;
    display: none;
    background-color: rgb(236, 65, 102)
}
