/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&display=swap');

:root {
    --white: #fff;
    --purple: #2a0095e8;
    --light-purple: #000000;
    --black-transparent: #00eeff32;
    --black: #000000e7;
    --income: rgb(13, 202, 240);
    --income-transparent: rgba(13, 202, 240, 0.4);

    --outgoing: rgb(220, 53, 69);
    --outgoing-transparent: rgba(220, 53, 70, 0.4);

}

* {
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Manrope' !important;
    font-weight: bold !important;
}

/* Boostrapt StyleS */
tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: var(--white) !important;
}

/* Personal Styles */

/*? BANNER */
#banner {
    background: linear-gradient(235deg, #FFFFFF 0%, #000F25 100%), linear-gradient(180deg, #6100FF 0%, #000000 100%), linear-gradient(235deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%), linear-gradient(125deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%);
    background-blend-mode: soft-light, screen, darken, normal;
    height: 90vh;
}
#div-available {
    margin-top: 10rem!important;

}
#div-available #available {
    transition: 0.4s ease-in;
}

#div-available #available:hover {
    cursor: pointer;
    color: var(--black);
}

#div-income,
#div-outgoing {
    transition: 0.35s ease-in-out;
}

#banner #div-income:hover {
    background-color: var(--income-transparent) !important;
    cursor: crosshair;
    transform: scale(1.05)
}

#div-outgoing:hover {
    background-color: var(--outgoing-transparent) !important;
    ;
    cursor: crosshair;
    transform: scale(1.05)
}

/*? CALCULE INPUT */
#calcule {
    height: 103px;
    background-color: var(--black-transparent) !important;
}

/*? TABLE */
#tableIncome thead {
    color: var(--income);
}

#tableOutgoing thead {
    color: var(--outgoing);

}

/*? GRAFIC */
#container {
    height: 600px !important;
}

#grafic {
    margin-block-start: 100px;
}

#grafic_title {
    color: var(--black);
    font-weight: 800;
}

#text-income,
#text-outgoing {
    font-size: 18px;
    font-weight: 800;
}

.swal2-styled.swal2-confirm {
    background-color: rgb(255, 64, 105) !important;
}

/*? BUTTONS  */
#submit {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}

#submit::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

#submit .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

#submit .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

#submit .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

#submit .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

#submit:hover {
    color: white;
    background: black;
}

#submit:hover::before {
    width: 0.9375rem;
    background: white;
}

#submit:hover .text {
    color: white;
    padding-left: 1.5em;
}

#submit:hover .top-key {
    left: -2px;
    width: 0px;
}

#submit:hover .bottom-key-1,
#submit:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

#recharge {
    height: 52px;
    margin: 10px 0px 20px 0px;
    width: 135px;
    background: #333;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: solid #404C5D 1px;
    font-size: 18px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    -webkit-box-shadow: -1px -5px 15px #41465B,
        5px 5px 15px #41465B,
        inset 5px 5px 10px #212121,
        inset -5px -5px 10px #212121;
    box-shadow: -1px -5px 15px #41465B,
        5px 5px 15px #41465B,
        inset 5px 5px 10px #212121,
        inset -5px -5px 10px #212121;
}

#recharge:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e,
        -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e,
        -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
}

#recharge:active {
    -webkit-box-shadow: 1px 1px 13px #20232e,
        -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e,
        -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
}

/*? RESPONSIVE */
@media screen and (max-width: 880px) {
    #banner {
        height: 100vh;
    }

    #banner #div-income {
        width: 75% !important;
    }

    #banner #div-outgoing {
        width: 75% !important;
    }

    #calcule {
        height: 180px;
    }

    .select {
        width: 25% !important;
    }

    .description {
        order: -1;
        width: 50% !important
    }

    .price {
        width: 50% !important
    }

    .button {
        width: 25% !important
    }

    #submit {
        width: 100%;
    }

    #div-available h2 {
        font-size: 4.5rem;
    }

    #tables {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    #calcule {
        height: 350px;
    }

    .select {
        order: -1;
        text-align: center;
        width: 60% !important;
    }

    .description {
        width: 60% !important
    }

    .price {
        width: 60% !important
    }

    .button {
        width: 60% !important
    }

    #submit {
        width: 100%;
    }

    #div-available h2 {
        font-size: 4.5rem;
    }
}